extends layout

block content
  h1= title
  form(action="/upload" method="post" enctype="multipart/form-data")
    label Choose file:
    input#name.form-control(type='file' name='upfile' value='')
    input.form-control(type='submit' )

